# Runs / tests collaterals
latest_log_dir
latest_log_file
logs/
*.log
*.tar
*.pyc
__pycache__/
.pytest_cache
.cache
pytest_collaterals/
examples/ncf/run/
examples/ncf/ml-20m*

# GNMT sample
examples/GNMT/data
examples/GNMT/model_best.pth
examples/GNMT/output_file*

# Virtual env
env/
.env/

# IDEs
.idea/
.vscode/

# OS X
.DS_Store
._.DS_Store

# PIP
distiller.egg-info/

# Jupyter
.ipynb_checkpoints/
