# Runs / tests collaterals
latest_log_dir
latest_log_file
logs/
*.log
*.tar
*.pyc
__pycache__/
.pytest_cache
.cache
pytest_collaterals/

# Virtual env
env/
.env/

# IDEs
.idea/
.vscode/

# OS X
.DS_Store
._.DS_Store

# PIP
distiller.egg-info/

# Jupyter
.ipynb_checkpoints/
