torch==0.3.1
numpy==1.14.2
torchvision==0.2.0
scipy==1.0.1
gitpython
git+https://github.com/pytorch/tnt.git@master
tensorflow==1.7.0
pydot==1.2.4
tabulate==0.8.2
pandas==0.22.0
jupyter==1.0.0
matplotlib==2.2.2
qgrid==1.0.2
onnx==1.1.1
graphviz==0.8.2
ipywidgets==7.1.2
bqplot==0.10.5
pyyaml
pytest
